html, body{
    max-width:100%;
    background-color: rgb(3,42,74);
    color:white;
    font-family: arial;
    font-size: 125%;
}

h1{
    text-align: center;
}

.wrapper{
    width:80%;
    margin: auto;
}

.descr {
    border-top: 2px solid white;
    font-size: 50%;
}

#accel{
    text-align: left;
}

.small{
    font-size: 40%;
}

.extraSmall{
    font-size: 30%;
}